*{
    font-family: arial;
    margin-top: 20px;
    margin-bottom: 50px;
    margin: auto;
    padding: 5px;
}
header nav [herf] {
    font-style: italic;
}
.mw-headline {
    position: relative;
    float: right;
    direction: ltr;
}
body {
    background: linear-gradient(30deg, white,sienna, royalblue, indianred, white);
}
#ptitulo {
    font-family: "Castellar";
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
}
nav a {
    font-family: sans-serif;
    color: blue;
    font-weight: bolder;
}
#p2 {
    font-size: 30px;
}
ul li {
    color: black;
}
footer ul p {
    border: 2px;
    margin: 15px auto;
}
h1, h2, h3, h4, h5 {
    font-family: 'Castellar';
    font-weight: bolder;
    color: black;
}
h2, h4 {
    font-size: 45px;
}
#precio {
    font-size: 30px;
}
#potatcio {
    border: 1px solid black;
    width: 75px;
}
#promo {
    width: 1480px;

}
img {  
    width: 370px;
    border: 1px solid black;
}